@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img iframe {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans TC", "Lato", sans-serif;
  line-height: 1.5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  position: relative;
}

p,
a,
i {
  color: #999999;
  font-size: 14px;
}

h2 {
  text-align: center;
  color: #252525;
  font-weight: 700;
  font-size: 19px;
  line-height: 3em;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  color: #252525;
  font-weight: 700;
  font-size: 17px;
  line-height: 3em;
  margin-bottom: 10px;
}

.min-h {
  min-height: 100vh;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-14 {
  padding-left: 14px;
  padding-right: 14px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-18 {
  padding-left: 18px;
  padding-right: 18px;
}

.px-26 {
  padding-left: 26px;
  padding-right: 26px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-21 {
  padding-top: 21px;
  padding-bottom: 21px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-82 {
  padding-top: 82px;
  padding-bottom: 82px;
}

.py-92 {
  padding-top: 92px;
  padding-bottom: 92px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-94 {
  padding-top: 94px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

.mr-8 {
  padding-bottom: 8px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-58 {
  margin-bottom: 58px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-11 {
  margin-right: 11px;
}

.mr-16 {
  margin-right: 16px;
}

.fz-8 {
  font-size: 8px;
}

.fz-10 {
  font-size: 10px;
}

.fz-13 {
  font-size: 13px;
}

.fz-14 {
  font-size: 14px;
}

.fz-17 {
  font-size: 17px;
}

.fz-19 {
  font-size: 19px;
}

.fz-24 {
  font-size: 24px;
}

.fz-28 {
  font-size: 28px;
}

.fw-regular {
  font-weight: "300";
}

.fw-medium {
  font-weight: medium;
}

.fw-bold {
  font-weight: bold;
}

.txt-c {
  text-align: center;
}

.txt-r {
  text-align: right;
}

.bg-img-c {
  background-position: center;
}

.center {
  width: 80%;
  margin: 0 auto;
}

.bg-color-dark {
  background-color: #252525;
}

.bg-color-light {
  background: #f5f5f5;
}

.bg-color-liner {
  background-image: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
}

.header {
  width: 18%;
  min-height: 100vh;
  letter-spacing: 2px;
  line-height: 3;
  position: fixed;
  top: 0;
  left: 0;
}

.header a:hover {
  color: #cccccc;
}

.header .nav li a {
  display: block;
}

.header .accordion {
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .accordion i {
  padding-left: 40px;
}

.header .panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.header .active {
  max-height: auto;
}

@media (max-width: 767px) {
  .header {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header {
    display: none;
  }
}

.header .logo img {
  width: 92%;
}

.topnav {
  overflow: hidden;
  background-color: #252525;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  z-index: 10;
}

.topnav img {
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.topnav .icon {
  background: #252525;
  display: block;
}

.topnav .icon i {
  padding: 15px;
  font-size: 24px;
  color: #cccccc;
}

@media (max-width: 1024px) {
  .topnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .topnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.m-nav {
  position: fixed;
  top: 65px;
  text-align: center;
  width: 100%;
  height: 0px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
}

.m-nav a {
  color: #999999;
  padding: 16px;
  text-decoration: none;
  letter-spacing: 2px;
  display: block;
}

.m-nav a i {
  padding-left: 10px;
}

.m-nav .blocks {
  background-color: #252525;
  border-bottom: 0.1px solid #999999;
}

.m-nav .m-panel {
  max-height: 0px;
  overflow: hidden;
}

.socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 82%;
}

@media (max-width: 767px) {
  .main {
    width: 100%;
    margin-top: 70px;
  }
}

@media (max-width: 1024px) {
  .main {
    width: 100%;
    margin-top: 70px;
  }
}

.container {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
  min-height: 100vh;
  line-height: 2em;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

.slides {
  position: relative;
  width: 82%;
  height: 100vh;
  overflow: hidden;
}

.slides img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slides li {
  -webkit-animation: round 25s linear infinite;
  animation: round 25s linear infinite;
  opacity: 0;
  filter: alpha(opacity=0);
}

@media (max-width: 767px) {
  .slides {
    width: 100%;
    margin-top: 70px;
  }
  .slides img {
    position: absolute;
    top: 0;
    left: 0;
    height: 70vh;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 0px 12px;
  }
}

@media (max-width: 1024px) {
  .slides {
    width: 100%;
    margin-top: 70px;
  }
}

@-webkit-keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
  }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
  }
}

@keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
  }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
  }
}

.slides li:nth-child(5) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.slides li:nth-child(4) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.slides li:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.slides li:nth-child(2) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

.slides li:nth-child(1) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

.row1 {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 767px) {
  .row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -50px;
  }
}

@media (max-width: 1024px) {
  .row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -50px;
  }
}

.col1 {
  width: 50%;
  margin-bottom: 12px;
}

@media (max-width: 767px) {
  .col1 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .col1 {
    width: 100%;
  }
}

.col2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .col2 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .col2 {
    width: 100%;
    margin-bottom: 30px;
  }
}

.col2-1 img {
  width: 80px;
  height: 80px;
}

.row2 {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 767px) {
  .row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -50px;
  }
}

.col3 {
  width: 50%;
  margin-bottom: 12px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .col3 {
    width: 100%;
    margin-right: -20px;
  }
}

@media (max-width: 1024px) {
  .col3 {
    width: 100%;
  }
}

.col3 iframe {
  width: 100%;
}

.col4 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

@media (max-width: 767px) {
  .col4 {
    width: 100%;
    margin-left: -20px;
  }
  .col4 p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .col4 {
    width: 100%;
  }
  .col4 p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

iframe {
  height: 250px;
}

@media (max-width: 767px) {
  iframe {
    width: 100%;
    margin-bottom: 30px;
  }
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

form input[type="submit"] {
  background-color: #f5f5f5;
  color: #252525;
}

@media (max-width: 767px) {
  form input[type="submit"] {
    background-color: #252525;
    color: #f5f5f5;
  }
}

form input[type="submit"]:hover {
  background-color: #252525;
  color: #f5f5f5;
  margin-bottom: 10px;
  border-color: #252525;
}

form label {
  color: #252525;
  margin-bottom: 10px;
}

form textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

form span {
  color: red;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.filter li a {
  padding: 6px 24px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  color: #999999;
  font-size: 13px;
}

.filter li a:hover {
  background-color: #252525;
  color: #f5f5f5;
  border-color: #252525;
  -webkit-transition: 1s;
  transition: 1s;
}

.filter .active {
  background-color: #252525;
  color: #f5f5f5;
  border-color: #252525;
}

@media (max-width: 767px) {
  .filter {
    padding-left: 24px;
    padding-right: 24px;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    white-space: nowrap;
    overflow: auto;
  }
}

.project-wall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-left: 40px;
}

.project-wall .item {
  position: relative;
  margin-right: 8px;
  width: 32%;
  height: 20vw;
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  .project-wall .item {
    width: 100%;
    height: 60vw;
    margin-right: 0px;
  }
}

.project-wall .item a {
  display: block;
}

.project-wall .item img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20vw;
}

@media (max-width: 767px) {
  .project-wall .item img {
    width: 100%;
    height: 60vw;
  }
}

.project-wall .item span {
  opacity: 0%;
  width: 100%;
  height: 20vw;
  position: absolute;
  background-color: #333333af;
  color: #ffffff;
  text-align: center;
  line-height: 20vw;
  letter-spacing: 4px;
  top: 0;
  left: 0;
}

.project-wall .item span:hover {
  opacity: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (max-width: 767px) {
  .project-wall {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.container-roll {
  width: 100%;
  margin: 0 auto;
  line-height: 2em;
}

.page-project {
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 767px) {
  .page-project {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.page-project .item {
  margin-bottom: 12px;
}

@media (max-width: 767px) {
  .page-project .item {
    width: 100%;
  }
}

.page-project .item img {
  margin: 0 auto;
  width: 70%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .page-project .item img {
    width: 100%;
  }
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.back li a {
  background-color: #252525;
  color: #f5f5f5;
  border-color: #252525;
  font-size: 13px;
  border-radius: 4px;
  padding: 8px 36px;
  letter-spacing: 2px;
}

.back li a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=all.css.map */