
.bg-color-dark {
    background-color: $color-dark;
}
.bg-color-light {
    background: $color-light;
}
.bg-color-liner{
    background-image: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
}

