//header
.header {
  width: 18%;
  min-height: 100vh;
  letter-spacing: 2px;
  line-height: 3;
  position: fixed;
  top: 0;
  left: 0;
  a:hover {
    color: $color-silver;
  }
  .nav li a {
    display: block;
  }
  .accordion {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    i {
      padding-left: 40px;
    }
  }
  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .active {
    max-height: auto;
  }
  @include mobile {
    display: none;
  }
  @include pad {
    display: none;
  }
  .logo img {
    width: 92%;
  }
}

.topnav {
  overflow: hidden;
  background-color: $color-dark;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  z-index: 10;
  img {
    height: 50px;
    object-fit: cover;
    margin: 0 auto;
  }
  .icon {
    background: $color-dark;
    display: block;
    i {
      padding: 15px;
      font-size: 24px;
      color: $color-silver;
    }
  }
  @include pad {
    display: flex;
  }
  @include mobile {
    display: flex;
  }
}
//nav
.m-nav {
  position: fixed;
  top: 65px;
  text-align: center;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 10;
  a {
    color: $color-info;
    padding: 16px;
    text-decoration: none;
    letter-spacing: 2px;
    display: block;
    i {
      padding-left: 10px;
    }
  }
  .blocks {
    background-color: $color-dark;
    border-bottom: 0.1px solid $color-info;
  }
  .m-panel {
    max-height: 0px;
    overflow: hidden;
    //transition: 0.5s ease-out;
  }
}
.socials {
  justify-content: center;
  align-items: center;
}
//main
.main {
  width: 82%;
  @include mobile {
    width: 100%;
    margin-top: 70px;
  }
  @include pad {
    width: 100%;
    margin-top: 70px;
  }
}
.container {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
  min-height: 100vh;
  line-height: 2em;

  @include mobile {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 30px;
  }
  @include pad {
    width: 100%;
  }
}
//slides
.slides {
  position: relative;
  width: 82%;
  height: 100vh;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  li {
    -webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  @include mobile {
    width: 100%;
    margin-top: 70px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 70vh;
      //width: 100%;
      object-fit: contain;
      padding: 0px 12px;
    }
  }
  @include pad {
    width: 100%;
    margin-top: 70px;
  }
}

@-webkit-keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
  }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
  }
}
@keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
  }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
  }
}
.slides li:nth-child(5) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.slides li:nth-child(4) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.slides li:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.slides li:nth-child(2) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

.slides li:nth-child(1) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
//about us
.row1 {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  @include mobile {
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
  }
  @include pad {
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
  }
}
.col1 {
  width: 50%;
  margin-bottom: 12px;
  @include mobile {
    width: 100%;
  }
  @include pad {
    width: 100%;
  }
}
.col2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include mobile {
    width: 100%;
  }
  @include pad {
    width: 100%;
    margin-bottom: 30px;
  }
}
.col2-1 {
  img {
    width: 80px;
    height: 80px;
  }
}
//contact us
.row2 {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  @include mobile {
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
  }
}
.col3 {
  width: 50%;
  margin-bottom: 12px;
  padding-right: 20px;
  @include mobile {
    width: 100%;
    margin-right: -20px;
  }
  @include pad {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}
.col4 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  @include mobile {
    width: 100%;
    margin-left: -20px;
    p {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @include pad {
    width: 100%;

    p {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
iframe {
  height: 250px;
  @include mobile {
    width: 100%;
    margin-bottom: 30px;
  }
}
form {
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid $color-silver;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    background-color: $color-light;
    color: $color-dark;
    @include mobile {
      background-color: $color-dark;
      color: $color-light;
    }
  }
  input[type="submit"]:hover {
    background-color: $color-dark;
    color: $color-light;
    margin-bottom: 10px;
    border-color: $color-dark;
  }
  label {
    color: $color-dark;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid $color-silver;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  span {
    color: red;
  }
}
//projects
.filter {
  display: flex;
  justify-content: center;
  width: 100%;
  li a {
    padding: 6px 24px;
    border-radius: 4px;
    border: 1px solid $color-silver;
    color: $color-info;
    font-size: 13px;
  }
  li a:hover {
    background-color: $color-dark;
    color: $color-light;
    border-color: $color-dark;
    transition: 1s;
  }
  .active {
    background-color: $color-dark;
    color: $color-light;
    border-color: $color-dark;
  }
  @include mobile {
    padding-left: 24px;
    padding-right: 24px;
    justify-content: stretch;
    white-space: nowrap;
    overflow: auto;
  }
}
.project-wall {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 40px;
  .item {
    position: relative;
    margin-right: 8px;
    width: 32%;
    height: 20vw;
    margin-bottom: 8px;
    @include mobile {
      width: 100%;
      height: 60vw;
      margin-right: 0px;
    }
    a {
      display: block;
    }
    img {
      width: 100%;
      display: block;
      object-fit: cover;
      height: 20vw;
      @include mobile {
        width: 100%;
        height: 60vw;
      }
    }
    span {
      opacity: 0%;
      width: 100%;
      height: 20vw;
      position: absolute;
      background-color: #333333af;
      color: $color-white;
      text-align: center;
      line-height: 20vw;
      letter-spacing: 4px;
      top: 0;
      left: 0;
    }
    span:hover {
      opacity: 100%;
      transition: 0.8s;
    }
  }
  @include mobile {
    padding-right: 24px;
    padding-left: 24px;
  }
}
//page
.container-roll {
  width: 100%;
  margin: 0 auto;
  line-height: 2em;
}
.page-project {
  padding-left: 60px;
  padding-right: 60px;
  @include mobile {
    padding-right: 24px;
    padding-left: 24px;
  }
  .item {
    margin-bottom: 12px;
    @include mobile {
      width: 100%;
    }
    img {
      margin: 0 auto;
      width: 70%;
      display: block;
      object-fit: cover;
      @include mobile {
        width: 100%;
      }
    }
  }
}
.back {
  display: flex;
  justify-content: center;
  width: 100%;
  li a {
    background-color: $color-dark;
    color: $color-light;
    border-color: $color-dark;
    font-size: 13px;
    border-radius: 4px;
    padding: 8px 36px;
    letter-spacing: 2px;
  }
  li a:hover {
    transition: 0.2s;
  }
}
